/* tamaño de las columnas, podrías utilizar repeat(auto-fill, minmax(min-content, max-content))
 o repeat(auto-fill, minmax(min-size, max-size)), que llena la fila con tantas celdas como sea posible. */
.grid {
  width: 95%;
  margin: auto;
  /* background-color: aqua !important; */
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 5px;
}
.float-name {
  float: left;
  background-color: rgba(0, 0, 0, 0.73) !important;
  width: 100%;
  color: #ffff;
  font-weight: 600;
  height: 40%;
  margin-top: -40%;
  opacity: 0;
}

.hover-container {
  position: relative;
}

.hover-container:hover .float-name {
  transition: 0.4s all;

  opacity: 1;
}
