:root {
  font-family: Inter, Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
.badge {
  width: 35%;
  text-align: center;
  margin: auto;
  position: inherit !important;
}

.badgeInfo > span {
  background-color: rgba(1, 12, 134, 0.731) !important;
  color: #ffffff !important;
  height: 25px !important;
  font-weight: 600;
}

.color-white {
  color: #ffffff !important;
}
